{% extends "layout.html" %}

{% block title %}About{% endblock title %}
{% block content %}
<h1 class="text-center text-white mt-3">About</h1>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <p>Welcome to Toffee Delight, your number one source for all things toffee! We are dedicated to providing you with the best selection of toffees, with a focus on quality, flavor, and uniqueness. From classic caramel to exotic flavors, our website features a wide range of toffees to satisfy your sweet tooth.</p>
        <p>At Toffee Delight, we love toffee as much as you do! That's why we are constantly on the lookout for new and exciting flavors to add to our collection. Our team carefully selects each toffee we feature, ensuring that you have access to the most delicious and high-quality options available.</p>
        <p>We also provide detailed descriptions and high-quality images of each toffee to help you make the best choice for your taste buds. Stay tuned for our latest updates as we continue to add new toffee varieties and exciting flavors to our website!</p>
        <p>Thank you for visiting Toffee Delight, and we hope you enjoy exploring our world of toffees!</p>
      </div>
      <div class="col-md-6">
        <img src="https://konti.ua/download/toffee-dekonte.jpg" alt="Toffee Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
{% endblock content %}

